<!DOCTYPE html>
<html>
<head>
<title>upload your file</title>
</head>

<body>

<form action="/get-filesize" method="post" enctype="multipart/form-data">
<label>
  <input type="file" name="fileInput">
  <input type="submit">
</label>
</form>

</body>
</html>
